<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='*' 
             Name='ddbm - DynamoDB Migration Tool' 
             UpgradeCode='8d6f51c0-1b2d-4e9a-9e8c-5a6b7c8d9e0f' 
             Manufacturer='hazeezet' 
             Language='1033' 
             Codepage='1252' 
             Version='2.0.0'>
             
        <Package Id='*' 
                 Keywords='Installer' 
                 Description='DynamoDB Migration Tool' 
                 Comments='A powerful CLI for migrating data between DynamoDB tables' 
                 Manufacturer='hazeezet' 
                 InstallerVersion='450' 
                 Languages='1033' 
                 Compressed='yes' 
                 SummaryCodepage='1252' />

        <MajorUpgrade Schedule='afterInstallInitialize' 
                      DowngradeErrorMessage='A newer version of dynamodb migrator is already installed.' />

        <Media Id='1' Cabinet='app.cab' EmbedCab='yes' />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONROOTDIRECTORY' Name='ddbm'>
                    <Component Id='ddbm_exe' Guid='E72A2E8B-1E4F-4C8D-9E8F-5A6B7C8D9E0F' Win64='yes'>
                        <File Id='ddbm_exe' Source='target\release\ddbm.exe' KeyPath='yes' Checksum='yes'/>
                    </Component>
                    <Component Id='migrator_exe' Guid='F83B3F9C-2F5A-4D9E-AF0A-6B7C8D9E0F1A' Win64='yes'>
                        <File Id='migrator_exe' Source='target\release\dynamodb-migrator.exe' KeyPath='yes' Checksum='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id='MainApplication' Title='Main Application' Level='1'>
            <ComponentRef Id='ddbm_exe' />
            <ComponentRef Id='migrator_exe' />
            <ComponentGroupRef Id='PathEnv' />
        </Feature>

        <ComponentGroup Id='PathEnv'>
            <Component Id='Path' Guid='D6191D7A-0D3E-4B7C-8D7E-4A5B6C7D8E9F' Directory='APPLICATIONROOTDIRECTORY' KeyPath='yes'>
                <Environment Id='PATH' Name='PATH' Value='[APPLICATIONROOTDIRECTORY]' Permanent='no' Part='last' Action='set' System='yes' />
            </Component>
        </ComponentGroup>

    </Product>
</Wix>
